/* ===========================================================================
/// <summary>
/// main.css
/// vue-shoƥer
/// created by Mehrdad Soleimanimajd on 28.11.2023
/// </summary>
/// <created>ʆϒʅ, 28.11.2023</created>
/// <changed>ʆϒʅ, 01.12.2023</changed>
=========================================================================== */

@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-content: center;
  }

  #app {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    place-content: start space-between;
    align-items: flex-start;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 50px; */
    /* padding: 1rem; */
  }
}
