/* ===========================================================================
/// <summary>
/// main.css
/// vue-shoƥer
/// created by Mehrdad Soleimanimajd on 28.11.2023
/// </summary>
/// <created>ʆϒʅ, 28.11.2023</created>
/// <changed>ʆϒʅ, 01.02.2024</changed>
=========================================================================== */

@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
#app-theme-wrapper {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
body,
#app {
  /* flex and grid representation */
  display: flex;
  flex-direction: column;
  /* place-content: center space-evenly; */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin: auto 10px; */
  background-color: red;
}

#app-theme-wrapper {
  /* flex representation */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  /* place-content: start space-between; */

  /* grid representation */
  /* display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 30px; */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app-theme-wrapper {
    /* flex representation */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    place-content: start space-evenly;

    background-color: #b0ddffac;

    transition-timing-function: linear;
    transition: background-color;
    transition-duration: 2s;

    /* padding: 1rem; */

    /* grid representation */
    /* display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 30px; */
  }
}
